body {
    background-color: bisque;
    
    
}
/* nav links*/
.container a {
    display: inline-block; 
    margin-right: 10px;
    text-decoration: none; 
    padding: 5px 10px;
    background-color: #c13333; 
    color: #1a0707; 
    border-radius: 5px; 
}

.container a:hover {
    background-color: #451c1c; 
    color: #2dae26; 
}
#recept1 {
    text-align: left;
}

p {
    color: darkslategrey;
}

li {
    color: darkslategrey;
}


/*place for list and to do*/

.container {
    display: flex;
}

.content {
    flex: 1; 
}

.sidebar {
    flex: 1; 
    text-align: right; 
}

.container {
    margin-right: 10px;
    text-decoration: none; 
    padding: 5px 10px;
    background-color: #0a0202; 
    color: #1a0707; 
    border-radius: 5px; 
   }
