body {
    background-color: rosybrown;
    background-image: url("../images/bengansblogg-naturbilder-003.webp") cover no-repeat center;
    background-attachment: fixed;
}

#recept1 {
    text-align: left;
}

p {
    color:blueviolet;
}

li {
    color:darkgoldenrod;
}

.menu1 {
    padding-left: 120px;
}